a {
    color: #0070c9;
}

.container {
    max-width: 900px;
}

form input[type='text'],
form input[type='password'],
form input[type='email'] {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}
