@import 'colors';
@import 'util';

.btn {
    @include ib-font-smoothing;

    $animation-length: 185ms;

    border-radius: 2px;
    font-size: 13px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    transition: background-color $animation-length ease-out,
    border-color $animation-length ease-out;

    &:active,
    &.active {
        &:focus,
        &.focus {
            outline: 0;
        }
    }

    &:focus,
    &.focus {
        outline: 0;
    }
}


@mixin ib-apply-colors($bg, $text) {
    background-color: $bg;
    border-color: $bg;
    color: $text;
}

@mixin ib-apply-colors3($bg, $border, $text) {
    background-color: $bg;
    border-color: $border;
    color: $text;
}

$ib-use-stressed: true !default;

@mixin ib-button-colors($bg, $text: #fff) {
    $active-bg: darken($bg, 10%);

    @if $ib-use-stressed {
        $stressed-bg: darken($bg, 16%);
    }
    @else {
        $stressed-bg: $active-bg;
    }

    @include ib-apply-colors($bg, $text);

    @include ib-hover-focus {
        @include ib-apply-colors($active-bg, $text);
    }

    &:active,
    &.active,
    .open > &.dropdown-toggle {
        @include ib-apply-colors($active-bg, $text);

        @include ib-hover-focus {
            @include ib-apply-colors($stressed-bg, $text);
        }
    }

    &:disabled,
    &.disabled {
        @include ib-hover-focus {
            @include ib-apply-colors($bg, $text);
        }
    }
}

@mixin ib-button-outline($text) {
    $active-bg: rgba(#000, 0.1);

    @if $ib-use-stressed {
        $stressed-bg: rgba(#000, 0.16);
    }
    @else {
        $stressed-bg: $active-bg;
    }

    @include ib-apply-colors(transparent, $text);

    &:hover {
        @include ib-apply-colors3(transparent, $text, $text);
    }

    &:focus,
    &.focus {
        @include ib-apply-colors3($active-bg, transparent, $text);

        &:hover {
            @include ib-apply-colors3($active-bg, $text, $text);
        }
    }

    @include ib-hover-focus {
        text-decoration: none;
    }

    &:active,
    &.active,
    .open > &.dropdown-toggle {
        @include ib-apply-colors3(transparent, $text, $text);

        @include ib-hover-focus {
            @include ib-apply-colors3($stressed-bg, $text, $text);
        }
    }

    &:disabled,
    &.disabled {
        @include ib-hover-focus {
            @include ib-apply-colors(transparent, $text);
        }
    }
}


.btn-primary {
    @include ib-button-colors($ib-color-slate-gray);
}

.btn-link,
.btn-secondary {
    @include ib-button-outline(ib-gray('60'));
}

.btn-success {
    @include ib-button-colors($ib-color-green);
}

.btn-info {
    @include ib-button-colors($ib-color-blue);
}

.btn-warning {
    @include ib-button-colors($ib-color-orange);
}

.btn-danger {
    @include ib-button-colors($ib-color-red);
}
