$ib-color-blue: #1e8cd6;
$ib-color-green: #39b54a;
$ib-color-slate-gray: #454752;
$ib-color-orange: #ff7a03;
$ib-color-red: #ff2f00;
$ib-color-blackberry: #786078;

// Make a shade of gray
// Usage:
// ib-gray('fb') => #fbfbfb
// ib-gray('0') => #000
@function ib-gray($a) {
    @return unquote('##{unquote($a)}#{unquote($a)}#{unquote($a)}');
}
