$ib-color-blue: #1e8cd6;
$ib-color-green: #39b54a;
$ib-color-slate-gray: #454752;
$ib-color-orange: #ff7a03;
$ib-color-red: #ff2f00;

$ib-color-gray-60: #606060;
$ib-color-gray-80: #808080;
$ib-color-gray-e0: #e0e0e0;
$ib-color-gray-f0: #f0f0f0;
