@import 'colors';

.form-group {
    margin-bottom: 20px;
}

label {
    color: black;
    font-size: 13px;
    font-weight: 600;
    padding-left: 5px;
}

.form-control {
    border-radius: 2px;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 12px;
    transition: border-color 150ms;

    &:focus {
        border-color: ib-gray('a0');
    }

    &:disabled,
    &[readonly] {
        background: ib-gray('f0');
        color: ib-gray('a0');
    }
}

.form-control-static {
    font-size: 14px;
    min-height: 32px;
    padding: 5px;
}
