@import 'colors';

body {
    padding-top: 5rem;
}

pre code {
    font-family: Roboto Mono, monospace;
    font-size: 0.6875rem;
}

.buttons-demo-block {
    background: ib-gray('f0');
    line-height: 3rem;
    padding: 0 1rem 1rem;

    button {
        margin-right: 0.5rem;
        vertical-align: bottom;
    }
}

.labels-demo-block {
    padding: 1rem 0;

    .label {
        margin-right: 1rem;
    }
}

.forms-demo-block {
    background: ib-gray('f9');
    margin-bottom: 1rem;
    padding: 1rem 1.44rem 0.44rem;

    .form-control,
    .form-control-static {
        max-width: 20rem;
    }
}
