{% load static %}
{% load queue_tags %}
<div class="comp actuator jenkins-actuator">
    <h3>{{ comp.name }}
        <small><a href="{% url 'admin:queueapp_jenkinsactuator_change' comp.id %}">Change</a></small>
    </h3>
    <img src="{% static 'software/jenkins.png' %}" alt="" title="Project(s): {{ comp.project_name }} {{ comp.project_name2 }}" class="comp-logo">
    <form action="{% url 'queueapp_actuator_stop_start' comp.id %}" method="post">
        <div>
            {% csrf_token %}
            <input type="submit" value="{% if comp.is_active %}Stop ⛔️{% else %}Start 🏁{% endif %}">
        </div>
    </form>
    {{ comp|is_active_icon }}
</div>
