{% load queue_tags %}
<div class="queue {% if not queue.is_active %}queue-off{% endif %}">
    <h3>{{ queue.name }}
        <small><a href="{% url 'admin:queueapp_queue_change' queue.id %}">Change</a></small>
    </h3>
    <div class="components">
        {% for comp in queue.get_components %}
            {% with template_name=comp|comp_template %}
                {% include 'queueapp/inc/'|add:template_name %}
            {% endwith %}
        {% endfor %}
    </div>
    <div class="components">
        <div class="comp logs">
            <h3>Event Log</h3>
            {% for log in queue.get_logs %}
                <p class="log">
                    <span class="log-time">{{ log.updated|date:'N j, G:s' }}</span>
                    <span class="log-message">{{ log.message }}</span>
                    {% if log.count > 1 %}
                        <span class="log-count">{{ log.count }}</span>
                    {% endif %}
                </p>
            {% endfor %}
        </div>
    </div>
</div>
