:focus {
    outline: 3px solid #c1e0fe;
    outline: 3px solid rgba(131, 192, 253, 0.5);
    outline-offset: 1px;
}

body {
    background-color: #fff;
    color: #303030;
}

a {
    color: #0070c9;
    text-decoration: none;
}

h1 small, h2 small, h3 small {
    font-size: 18px;
    font-weight: normal;
}

.queue, .comp {
    position: relative;
}

.queue.queue-off {
    background-color: #fbfbfb;
    opacity: 0.5;
}

.components {
    display: flex;
    margin: 0 -10px;
}

.comp {
    border: 1px solid #d6d6d6;
    margin: 10px;
    text-align: center;
}

.comp h3 {
    margin-bottom: 3px;
    text-align: center;
    transform: scale(0.75);
}

.comp > .is-active-icon {
    position: absolute;
    right: 3px;
    top: 3px;
}

.comp-logo {
    width: 110px;
    padding: 10px;
}

.comp.logs {
    padding: 0 10px 10px;
}

.log {
    font-size: 90%;
    margin-bottom: 0;
    text-align: left;
}

.log-count {
    background-color: #0288d1;
    border-radius: 10px;
    color: #fff;
    font-size: 70%;
    padding: 1px 5px;
}

.log-message {
}

.log-time {
    color: #808080;
}
