@import '../node_modules/systematize/systematize.scss';
@import 'medium';
@import 'base';
@import 'headings';
@import 'links';
@import 'classes';

article {
    font-family: Palatino, Garamond, Bookman, serif;
}

.add-text {
    display: flex;
    width: 100%;
}
